name: NPM Package Publish - Reusable Workflow
on:
  workflow_call:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Harden Security
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          registry-url: https://registry.npmjs.org
          cache: npm
      - run: npm ci --ignore-scripts
      - run: npm run build --if-present
      - run: npm publish --provenance
        env:
          NPM_CONFIG_PROVENANCE: true
