name: NPM Package Publish with PNPM - Reusable Workflow
on:
  workflow_call:
    secrets:
      NODE_AUTH_TOKEN:
        required: true
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Harden Security
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          registry-url: https://registry.npmjs.org
          cache: pnpm
      - run: pnpm i --prefer-offline
      - run: pnpm --if-present run build
      - run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
